{% extends 'base.html.twig' %}

{% block title %} <h1>Vinyles ✅</h1>{% endblock %}

{% block body %}

    <h1>Vinyles ✅</h1>


<div class = "col-12">


</div>

{% for vinyl in vinyls %}

    <h1>{{ vinyl.title }}</h1>
    <strong>{{ vinyl.price }}</strong>
    <p>{{ vinyl.content }}</p>
    <p>{{ vinyl.artist }}</p>

    <img src="{{ vich_uploader_asset(vinyl, 'attachmentFile') }}" alt="{{ vinyl.attachment }}">
    <a href="{{ path('cart_index',{id: vinyl.id}) }}">add to basket</a>

{% endfor %}





    <div class="example-wrapper">



</div>
{% endblock %}
